APP_NAME=AI Support API
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

ADMIN_EMAIL=

# Ключ Groq
OPENAI_API_KEY=
OPENAI_API_BASE_URL=https://api.groq.com/openai/v1
OPENAI_API_MODEL=openai/gpt-oss-20b
